$color-text: #333333;
$color-main: #E10255;
$color-white: #ffffff;
$color-gray: #929292;
$color-light-gray: #D9D9D9;
$color-quite-light-gray: #F9F9F9;
$color-orange: #F09E2D;
$color-green: #00B473;
$color-blue: #455E94;
$color-rss: #E96727;
$color-group: #032162;
$color-link: #1A0DAB;

